.videoBox{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
}

.imgBox{
    padding-top: 11.25%;
    position: relative;
    width: 20%;
}

.infoBox{
    display: inline-block;
    width: calc(80% - 40px);
    padding: 10px;
}

.title{
    font-size: 1.2rem;
    padding-bottom: 10px;
    overflow: hidden;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    border: none;
    word-break: break-all;
    word-wrap: break-word;
}

.channel, .viewsAndDt{
    color: gray;
    font-size: 0.9rem;
    display:inline
}

.channel:hover{
    color: lightgrey;
}

.videoImg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
}

.deleteBtn{
    padding: 10px;
}