.menu{
    position: fixed;
    top: 60px;
    border: none;
    width: 200px;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    float: left;
    padding: 0;
    background-color: black;
    display: block;
}

